<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
  <div class="container">
    <h1 class="mt-5">Validate OTP for Login</h1>
    <form onsubmit="login(event)">
      <div class="form-group mt-3">
        <label for="otp">Please enter OTP:</label>
        <input type="text" class="form-control" name="otp" id="otp" required/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="user-details"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.4.1/axios.min.js"></script>
  <script src="./otp.js"></script>
</body>

</html>
